# Django
SECRET_KEY=change-me-in-production
DJANGO_SETTINGS_MODULE=config.settings.development

# Postgres
POSTGRES_PASSWORD=localdevpassword

# Redis
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1

# Razorpay
RAZORPAY_KEY_ID=rzp_test_XXXXX
RAZORPAY_KEY_SECRET=XXXXX
RAZORPAY_WEBHOOK_SECRET=XXXXX
RAZORPAY_PLAN_ID_PRO=plan_XXXXX
RAZORPAY_PLAN_ID_SCALE=plan_XXXXX
